* {
    box-sizing: border-box;

}


.container_main {
    width: 1170px;
    /* width: 1500px; */
    margin: 0 auto;
    padding: 0 16px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(26, 64, 107);
    cursor: pointer;
}

.header_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.star_section {
    margin: 100px 20px;
}


.img_logo {
    padding: 18px 0px;
}

.btn1 {
    background-color: #ffffff;
    border-radius: 8px;
    border-color: rgb(7, 98, 202);
    color: rgb(28, 109, 201);
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    padding: 14px 16px;

}

.btn_val {
    padding-top: 2px;

}

.section2 {
    display: flex;
    flex-wrap: wrap;
}

.sec2_col {
    width: 48%;
}

.col_right {

    /* border: 1px solid black; */
    width: 65%;
}

h1 {
    font-size: 60px;
    color: rgb(26, 64, 107);
}

.main_parent {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;

}

.sub_text {
    font-size: 20px;
    ;
    color: rgb(26, 64, 107);
}

.mchild {
    display: flex;
    width: calc(100% /2);
}

.icon-line {
    margin-left: 7px;
    margin-top: -16px;

}

.icon-p {
    font-weight: bold;
    font-size: 20px;
    color: rgb(26, 64, 107);
}

.icon-plight {
    margin-top: -5px;
    color: rgb(26, 64, 107);
}

.button2 {
    background-color:  rgb(26, 64, 107);
    border-radius: 8px;
    border-color: rgb(26, 64, 107);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    
}


/* ************** */
.service1 {
    text-align: center;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 20px;
}

.service2 {
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, sans-serif;
    color: rgb(26, 64, 107);

}

.scpar3 {
    text-align: center;
    font-family: Verdana, sans-serif;
    width: 45%;
    margin-left: 27%;
    color: rgb(26, 64, 107);
    font-size: large;
    padding-bottom: 20px;

}

.sub_script {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.sub_script1 {
    display: flex;
}

.sub_script_child {
    margin-top: -12px;
    margin-left: 10px;
}

.insurance-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: flex-start;
    /* border: 1px solid black; */
    gap: 8.4%;

}

.insurance-grid-item {
    border: 1px solid rgb(212, 212, 212);
    width: 27%;
    border-radius: 10px;
    padding: 3px;
}

.insurance-grid-item-div {
    margin: 25px;
}

.insurance-grid-item-div-p {
    color: #386b96;
    font-weight: bold;
    margin: 23px;
    font-size: 25px;
}

.insurance-grid-item-div-p1 {
    color: #183B56;
    margin: 23px;
    font-size: 19px;
}

.insurance-grid-item-div-p2 {
    display: flex;
    flex-wrap: wrap;
    margin: 23px;
}

.insurance-grid-item-div-p3 a {
    text-decoration: none;
    color: rgb(39, 95, 216);
    font-weight: bold;
}

insu.bi {
    font-size: 27px;
    color: blue;
}

.arrow_sign {
    margin: -6px 12px;
}

.background_img {
    height: 700px;
    background-image: url('assests/img/review.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0px;
}

.quoto_logo {
    padding: 10px 30px;
}

.quoto_box {
    width: 50%;
    /* border: 1px solid black; */
    background-color: #f9efef;
    border-radius: 10px;
}

.quoto_P_text {
    padding: 8px 30px;
    font-size: 40px;
}

.row_quoto {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    justify-content: flex-start;
    gap: 5%;
}

.col_quoto {
    color: #183B56;
    font-size: 20px;
    font-weight: bold;

}

.verify_text {
    font-weight: 100;
}

.quotos_session {
    padding: 80px 0px;
}

.row_benfits {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    justify-content: flex-start;

}

.col_benfits {
    width: 30%;
    padding: 0 16px;
    margin: 10px 0px;
}

.heading_text {

    font-weight: bold;
    color: #183B56;
}

/* ////////////////////// */


.section_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4.50%;
}

.section_col-box {
    border-radius: 8px;
    width: 30.1%;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border: 1px solid #efecec;
}

.sec5-span {
    display: flex;
    padding: 0px 20px;
}

.benifits {
    text-transform: uppercase;
    color: rgb(16, 90, 28);
    font-weight: 600;
    border: 0;
    margin-bottom: 15px;
    padding: 20px;
}

.section_col_logo {
    padding: 20px 0px;
}

.sec5-ins {
    display: flex;
    font-size: 30px;
    text-transform: capitalize;
    color: rgb(27, 27, 141);
}

.card_col {
    padding: 20px;
}

.background_line {

    border: 2px solid rgb(206, 203, 203);
    font-weight: 100;
    margin: 60px 0px;
}

.card_tips_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
    border-radius: 8px;
    gap: 3px;
}

.card_tips_colms {
    width: 49%;
}

.left_col {
    background-image: url('assests/img/card1.png');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.right_col {
    background-image: url('assests/img/mom_card.png');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.left_text {
    font-size: 38px;
    padding-top: 500px;
    padding-left: 12px;
    font-weight: bold;
    color: #f9efef;
}

.right_text {
    font-size: 35px;
    padding-top: 500px;
    padding-left: 12px;
    font-weight: bold;
    color: #f9efef;
}

.testmonios {
    margin: 80px 0px;
}

.testmonioals_text {
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
}

.test_heading {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(26, 64, 107);
}

.row_testmono {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    /* border: 1px solid black; */
    border-radius: 8;
    gap: 2%;
}

.col_testmono {
    width: 20.40%;
    padding: 16px 16px;
    margin: 16px 0px;
     border: 1px solid #efecec;
    
}

.test_row {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 2px;
}

.sub_row_test {
    display: flex;

}

.text_cust {
    font-size: 13px;
    margin-left: 4px;
}

.name_text_head {
    margin-left: 15px;
}

.col_text_testmono {
    font-size: 15px;
}

.container_main .img_class_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_main .img_class_row>img {
    flex-grow: 1;
}

.footer {
    padding: 50px 20px;
    background-color: #041e42;
}

.footer_first {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 30%;
}

.items_col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer_heading {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 800;
    line-height: 1.5;
}

.io_mail {
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    padding: 14px 16px;
}

.btn2 {

    background-color: rgb(39, 95, 216);
    border-radius: 8px;
    border-color: rgb(2, 61, 129);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
}

.element-footer_text {
    margin-top: 40px;
    color: rgb(182, 182, 182);
    font-size: 18px
}

.input_mail {
    display: flex;
    gap: 3%;
}

.other .three-img {
    display: flex;
}

.trustpilot {
    margin: 8rem;
}

.trustpilot-rows {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 4rem;
}

.trustpilot-cols {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

}

.trustpilot-cols .img-body {
    align-items: center;
    justify-content: center;
}

.trustpilot-rows .three-img {
    display: flex;
}

.trustpilot-rows .three-img img {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.trustpilot-rows .three-img img:nth-child(1) {
    top: 20%;
    left: calc(50% - 30px);
}

.trustpilot-rows .three-img img:nth-child(2) {
    top: 10%;
    left: 50%;
}

.trustpilot-rows .three-img img:nth-child(3) {
    top: 20%;
    left: calc(50% + 30px);
}

.trustpilot-rows .three-img~p {
    position: absolute;
}

.trustpilot-cols .colsgap {
    height: 10px;
}

.trustpilot-rows .down {
    text-align: center;
    width: 204px;
    margin-top: 15px;
}

.down-text {
    font-weight: 600;
}

.trustpilot-gap {
    gap: 80px;
}

.trustpilot-cols .pilotstar {
    height: 24px;
}

.trustpilot-like {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.trust_text {
    font-size: 25px;
}

.position_cards .card {

    width: 500px;
    margin: 0px auto;
    border: 1px solid black;
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;

}

/* .position_cards .card1 {
    position: relative;
    z-index: 1;
} */
.position_cards .card1 {
   margin-bottom: 12px;

}
.position_cards .card2 {
   margin-left: 80px;
   margin-top:-30px ;
   
}


.card_details {
    display: flex;
    gap: 5%;
    align-items: start
}

.head_items {

    font-size: 20px;
    color: rgb(26, 64, 107);
    font-weight: bold;

}

.head_sub_text-item {
    font-size: 20px;
    color: rgb(26, 64, 107);
}

.footer2{

    margin-bottom: 100px;
}

.dil_logo{
    
    display: flex;
    justify-content: center;
}
.fa-heart{
    margin-top: 4px;
}

.icom{
    padding: 10px;
    /* border: 1px solid white;     */
    background-color: #1565D8;
    border-radius: 50%;
}   
.copyright{
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    padding-bottom: 20px;

}

.info{
    display: flex;
}

.companylogo{
    width: 30%;
    color: rgb(221, 221, 221);

}
.companylogo div{
    margin: 25px 0px;
}

.all-links{
    width: 70%;
}
.meflex{
    display: flex;
    font-size: xx-large;
}
.social_links{
    font-size: x-large;
    display: flex;
    gap: 20px;
}
.line_text{
    font-size: 24px;
}
.all_link{
width: 100%;
display: flex;
justify-content: space-evenly;
}
.space_link_row{
    display: flex;
    margin-top: 80px;
}

.space_link_cols div{
    margin: 20px 0px;

}
.col_heading a{
    font-weight: 800;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.col_link_text a{
    font-weight: 200;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}